<div class="container pt-8 md:pt-12">
    {{ partial:components/heading size="h2" :label="title" center="true" }}
</div>

<div class="container py-8 md:py-12">
    {{ collection :from="mount" paginate="9" as="posts" }}
        {{ if no_results }}
            <p>Sorry, there are no results.</p>
        {{ /if }}
        <div class="grid gap-12 md:grid-cols-2 lg:grid-cols-3">
            {{ posts }}
                {{ partial:components/post_card }}
            {{ /posts }}
        </div>

        {{ partial:partials/pagination }}
    {{ /collection }}
</div>
